{% extends 'main/base.html' %}

{% block title%}
Регистрация
{% endblock%}


{% block content %}
<h1>{{title}}</h1>
<br><br>

<form method="post">
    {% csrf_token %}

<h4>У вас еще нет аккаунта? Создайте его!</h4>
    {{ form.as_p }}
<div id="emailHelp" class="form-text">Вы не должны никому говорить свой пароль! </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Не робот</label>
  </div>

    <button type="submit" class="btn btn-primary" >Зарегистрироваться</button>


</form>



{% endblock %}